<h4> Utilizar Jquery dentro de angular </h4>
<button id="bottonJQ"> Mostrar texto</button>
<p id="textoJQ" class="hidden alert alert-warning">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates et vero numquam. Nihil vitae eos suscipit consectetur blanditiis nam voluptas repudiandae, id quaerat, numquam optio, beatae minima placeat vero repellat?
</p>
<hr>
 Padre:
<h1>{{titulo}}</h1>
<ul>
    <li>Camiseta roja</li>
    <li>Gorra negra</li>
</ul>
Nombre del parque:
<input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()"/>
<p>Resultado: {{nombreDelParque}} </p>
<div  *ngIf="miParque">
    <h4>Datos de mi parque desde el HIJO</h4>
    <ol>
        <li>{{miParque.titulo}}</li>
        <li>{{miParque.metros}}</li>
        <li>{{miParque.vegetacion}}</li>
        <li>{{miParque.abierto}}</li>
    </ol>
</div>
<hr>
<p *ngIf="nombreDelParque">
    Hijo:
    <parques [titulo]= "nombreDelParque"
            (pasameLosDatos)="verDatosParque($event)"></parques>
</p>